<style type="text/css">
  .color{
    border: 1px solid yellowgreen;
    background-color:skyblue;
    border-radius: 10px;
    width: 190px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    display: inline-table;
  }
  .lista_imagenes{
    padding-left: 100px;
  }
  img{
    border-radius: 5px;
  }
  .contenido_d{
    padding-top: 6%;
    background-color: #e7e8eb;
    border-radius: 20px;
  }
  html {
    background-image: url("/fondo3.jpg");
    background-size: cover;
  }
  .aviso{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: skyblue;
    border-radius: 30px;
    border: 2px solid white;
    position: fixed;
    padding: 10px;
    top:30%;
    display: none;
  }
</style>
<script type="text/javascript">
  $(".lista").hover(function (){
    $(".aviso").fadeIn("slow").show();
  },function(){
    $(".aviso").fadeOut("slow").hide();
  })
</script>
<div class="uk-container uk-container-center uk-margin-top contenido_d"  >
<div class="uk-container uk-container-center perro_logo">
  <a href="/posibles_adopciones" style="text-decoration: none">
    <img class="lista" src="http://userscontent2.emaze.com/images/28a7c10f-8270-4a1d-83c1-e457cb5798c9/6cb8dc22-d52f-4bec-93bf-3da03d1e178fimage5.png" alt="avatar" style="box-shadow: 2px 2px 10px black"></img>
    <div class="aviso">Al dar Click aparecera una lista de pequeñines listos ser adoptados<br></div>
  </a>
</div>
<h1>A ti futuro dueño de un perrito o gatito</h1>

<div style="text-align: justify;">
<p>Para poder bindarte la posibilidad de llevarte un perro primero
debes ser conciente que tienes un espacio adecuado para tu mascota
entre otros aspectos que te detallamos ahora...</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Molestiae accusamus totam deserunt, dolores culpa repudiandae
odio consequuntur. Enim consequuntur esse quos
nisi incidunt sed rerum cum, illo, fuga maxime at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea magnam reprehenderit in voluptates quod vitae architecto vel blanditiis fugiat sint illo beatae, mollitia id temporibus, quis saepe corporis. Incidunt, sed! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia repudiandae, veritatis. Praesentium excepturi illum, quaerat sed aliquid suscipit exercitationem odit sapiente! Ut aut, quo incidunt dolores deserunt ea earum doloremque?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Sit dicta sed reiciendis error illum totam architecto quos
non modi perferendis ad rerum, nesciunt optio pariatur.
Adipisci itaque, earum maxime ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iusto illo dolorem, ullam doloremque nulla, asperiores tenetur, ipsum nesciunt sit sequi reprehenderit est? Saepe ad eius modi incidunt, quam, veritatis.</p>

</div>

<h2>Algunos casos de vida</h2>
<div class="lista_imagenes">
    <div class="panel color">
          <img src="http://www.mundoperro.net/wp-content/uploads/Perro-Carlino-485x300.jpg">
          <p style="word-wrap: break-word;">Adoptame soy muy jugeton Lorem ipsum dolor sit amet, consectetur</p>
    </div>

    <div class="panel color">
        <img src="http://static4.animalesmascotas.com/wp-content/uploads/2016/08/heces-amarillas-en-perros-causas-y-tratamiento-mascota.jpeg">
      <p style="word-wrap: break-word;">Mi forma de vida anterior era triste adoptame y dame una mejor vida</p>
    </div>

    <div class="panel color">
        <img src="http://www.significado-de-nombres.com/wp-content/uploads/2016/01/nombres-originales-perros-macho.jpg">
          <p style="word-wrap: break-word;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="panel color">
       <img src="https://s-media-cache-ak0.pinimg.com/736x/dc/7f/39/dc7f39c5120724b079fca8159bcf2958.jpg">
      <p style="word-wrap: break-word;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates veritatis!</p>
    </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas blanditiis dolores culpa eligendi autem, labore eveniet dolore nemo, quasi ipsum provident aliquam eaque animi reprehenderit consectetur deserunt tempora error hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ad maiores vitae nam, tenetur. Ut distinctio mollitia consequatur possimus, quae aliquam ducimus? Tempora odio neque dignissimos perferendis itaque totam dolores!</p>
</div>
