<style type="text/css">
  h1{
    text-align: center;
  }
  .container{
  	padding-left: 100px;
  	padding-right: 100px;
  }
  p{
  	text-align: justify;
  }
  #flotante_img{
  	float: right;
  	border-radius: 40%;
  	margin-top:100px;
  	padding: 10px;
  	position: relative;
  }
  img{
  	border-radius: 40%;
  	align-items: center;
  }
</style>
<img id="flotante_img" src="http://www.lalocadelosgatos.com/wp-content/uploads/2012/02/convivencia-perro-gato.jpg" width="200px" height="200px">
<div class="container">
<h1> <img src="/paw_log.jpeg" width="42px" height="42px">
Acerca de Nosotros
<img src="/paw_log.jpeg" width="42px" height="42px">
</h1>
<p>Somos un grupo sin fines de lucro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla eius animi tempore odit excepturi sunt fuga fugiat sit nemo illum hic nobis id eum, officiis maiores dicta necessitatibus! Impedit.</p>

<h2>Quieres ayudar?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tenetur rem a cupiditate. Laboriosam accusantium totam at fugit animi sequi explicabo maiores, eum necessitatibus illum, mollitia, doloremque corrupti similique minus.</p>

<h2>Quieres donar?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium incidunt, velit voluptatum consectetur doloribus dignissimos, consequuntur eligendi sunt tempora ea culpa, nam, ipsum. Hic, quaerat perferendis odit ad esse quo.
Ayuda! Tus donaciones son deducibles de impuestos.</p>
<h2>Quieres publicar?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi fuga magnam quis repellendus esse deserunt iure quo tenetur, maxime doloremque, similique nostrum blanditiis exercitationem laborum placeat suscipit corrupti eum culpa.</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sed, aspernatur veniam debitis tempore, explicabo cupiditate consequatur iste, ad iusto error ipsam nisi amet similique provident numquam accusantium quaerat harum.</p>

<h2>Quieres participar?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus autem doloribus sequi eligendi voluptate, itaque neque dignissimos commodi similique, excepturi voluptates distinctio, corrupti dolore, quam ratione at? Possimus, perferendis, repellat.</p>

<h1>Recuerda ellos tambien pueden tener una segunda oportunidad
<br>
<img src="http://www.mascotasdomesticas.net/wp-content/uploads/2012/05/perros-y-gatos-criar.jpg" width="200px" height="200px">
</h1>
</div>
