<style type="text/css">

p{
	text-align: justify;
}

.imagen{

	border-radius: 10px;
	box-shadow: 2px 2px 10px gray;
	padding:  10px;
	margin: 0 30px;

}
.contenido_d{
  padding-top: 6%;
  background-color: #e7e8eb;
  border-radius: 20px;

}

    html {
        background-image: url("/fondo3.jpg");
        background-size: cover;
    }
		.gato{
			width: 50%;
			z-index: 1;
			right: 3%;
			position: absolute;
		}
.adopta{
	padding-top: 42%;
position: relative;
padding-bottom: 5%;
}

</style>


<div class="uk-container uk-container-center uk-margin-top contenido_d"  >
<div class="uk-container uk-container-center perro_logo">
  <img class="gato" src="http://1.bp.blogspot.com/-vgRiOcvbpkY/UnAzvz6B9oI/AAAAAAAAAGQ/3DprfByL-LU/s1600/gato1.png" alt="avatar"></img>
<img class="adopta"src="http://www.mascotaspe.com/wp-content/uploads/2012/07/adopcion-g.jpg" alt="avatar">
</div>
<div class=" uk-container">
<h1>Cuidados veterinarios</h1>

<img class="imagen"src="http://www.mascotaspe.com/wp-content/uploads/2013/01/cuidado-animal12.jpg" alt="pug" align="right" width="300px" height="300px">
<p>Es básico contar con un buen veterinario de confianza. Prácticamente todos los veterinarios saben sobre perros, pero esto no ocurre siempre con los gatos. Si hemos elegido a un minino para compartir el hogar es preferible buscar a un veterinario especializado en medicina felina o que al menos tenga una larga experiencia tratando con gatos. Si además de consulta dispone de una clínica será todavía mejor, ya que podrá hacerse cargo de cualquier operación que haya que realizar, por ejemplo la esterilización del animal.</p>
<p>Al hacernos cargo de una mascota y tras escoger a un veterinario, debemos de acudir allí para que revisen al animal y nos informen sobre el calendario de vacunas obligatorio y también del recomendado. Además, nos puede ayudar dándonos una guía básica de los cuidados que puede necesitar nuestro peludo.</p>
</div>

<div class=" uk-container">
<h1>Alimentación</h1>
<img class="imagen" src="http://www.mascotaspe.com/wp-content/uploads/2013/03/cuidado-animal-obesidad-en-perros3.jpg" alt="pug-bonito" align="left" width="300px" height="300px">
<p>Es preferible que los animales coman alimentos especialmente preparados para ellos.  Los alimentos para animales tienen los niveles óptimos de proteínas, grasas y demás nutrientes y vitaminas, ayudando a que el animal esté sano y no tenga problemas de obesidad.  Cuándo adoptamos a un animal debemos de informarnos de qué tipo de comida tomaba, incluida la marca. Quizás nosotros optemos por darle una diferente, ya sea por iniciativa propia o por consejo veterinario, pero el cambio debe de ser gradual. En principio se mezcla la antigua comida con la nueva y poco a poco se va aumentando la cantidad de la marca que queramos darle hasta sustituirla por completo. Esto evitará diarreas y otros problemas gástricos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus animi recusandae nisi dolor ullam ex totam, in aliquam. Deleniti unde reiciendis cumque sit iusto eveniet nostrum neque nisi delectus obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non vero temporibus neque, ut, provident laborum cupiditate ad sit quas minima asperiores velit dolorum doloremque enim sequi quisquam aliquam atque! </p>
<p>Mientras que a los perros es preferible darles la comida y retirar el cuenco al acabar, en el caso de los gatos la mejor opción, siempre que no haya problemas de salud que lo impidan, es dejarles su ración para que la distribuyan a lo largo del día. En ambos casos siempre deben de tener agua disponible. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magni sequi magnam veritatis, at laudantium consequuntur adipisci reiciendis aliquam ducimus. Officia labore, hic! Sapiente quas beatae vitae, omnis magnam natus!</p>
</div>
<div class=" uk-container">
<img class="imagen" src="http://www.todoperros.com/wp-content/uploads/2016/08/perro-500x300.jpg" alt="perro-pequeño" width="300px" height="300px" style="margin-left: 300px">
<br>
<h3>Links recomendados <a href="http://es.wikihow.com/cuidar-a-los-animales">Cuidados</a>, <a href="https://www.olx.com.gt/animales-mascotas-cat-811">Más sitios</a><h3>

</div>
</div>
